<% include ../header %>

<div class="container">

    <img src="/assets/download/homeserve.jpg">
    <br/>
    <h1>HomeServe Partners</h1>
    <a href="itms-services://?action=download-manifest&url=http://71faffa9.ngrok.io/assets/download/manifest.plist">
        <img src="/assets/download/download-button-ios.png">
    </a>
</div>

<% include ../footer %>