<% include header %>

<div class="container-fluid">
	<form action="/" method="post" accept-charset="utf-8" class="form-horizontal" role="form" style="width: 50%;">
		<div class="form-group form-group-lg">
			<label for="message" class="col-lg-2 control-label for="message"">Message</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="4" name="message" id="message" placeholder="Entrez votre message à poster içi"></textarea>
			</div>
	        <div class="col-sm-2">
	        	<input id="submit" name="submit" type="submit" value="Envoyer" class="btn btn-primary btn-lg">
			</div>
		</div>
	</form>
</div>

<div class="container-fluid">
	<div class="panel panel-default">
	  	<!-- Default panel contents -->
	  	<div class="panel-heading">Commentaires</div>
	  	<!-- Table -->
	  	<table class="table table-striped">
	  		<thead>
	      		<tr>
	        		<th>#</th>
	        		<th>Link</th>
	        		<th>Message</th>
	        		<th>Publish Time</th>
	      		</tr>
	    	</thead>
	    
			<% for (message of messages) { %>
				<tbody>
					<tr>
						<td>
							<div class="text">
								<a href="/message/<%= message.pre_mongified_id %>">
									<%= message.pre_mongified_id %>
								</a>	
							</div>
						</td>
						<td>
							<div class="text">
								<img src="https://randomuser.me/api/portraits/lego/7.jpg" alt="Lego" height="40" width="40">
								Pseudo
							</div>
						</td>
						<td>
							<div class="text">
								<%= message.content %>			
							</div>
						</td>
						<td>
							<div class="metadata">
								<div class="date">
									<%= message.created_at.fromNow() %>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			<% } %>
	  </table>
	</div>
</div>
<% include footer %>